In [1]:
students = ['farhan','adil','naser','raheem','firdous','jafar']

In [2]:
print(students)

['farhan', 'adil', 'naser', 'raheem', 'firdous', 'jafar']

In [3]:
print(students[0:2])

['farhan', 'adil']

In [4]:
print(students[2:4])

['naser', 'raheem']

In [5]:
print(students[4:6])

['firdous', 'jafar']

In [6]:
print(students[0:6:2])

['farhan', 'naser', 'firdous']

In [9]:
print(students[1:4:2])

['adil', 'raheem']

In [ ]:
# last value is always exclusive

In [ ]:
# req: i want to have a list of 100 numbers

In [10]:
numbers = list(range(0,100))
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [ ]:
list of even numbers from 1-20

In [11]:
even_numbers = list(range(2,20,2))
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
list of even numbers from 20-40

In [12]:
even_numbers = list(range(20,40,2))
print(even_numbers)

[20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [ ]:
list of even numbers from 1-50

In [13]:
odd_numbers = list(range(1,50,3))
print(odd_numbers)

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49]